div{
    background-color: turquoise;
    
}
h1{
    background-color: greenyellow;
    border: 20px solid darkmagenta;
    padding: 20px;
}
span{
    background-color: blueviolet;
    width: 250px;
        height: 300px;
        display: inline-block;
}